---
import LayoutLetter from "../layouts/LayoutLetter.astro";
---

<LayoutLetter>
    
    <h2 class="font-bold">
        Para Crisis, 
    </h2>

    <span>
       Crisis, fácilmente puedo decir que fuiste la luz que iluminó y guío el camino. Gracias a vos me dedico a esto, y me encanta.
       <br>
       Crear, diseñar, y aprender son mis grandes pasiones y gracias a vos pude entender que quería hacer esto. Ojalá poder siempre estar con vos y con tu gran conocimiento que admiro desde todos sus sentidos. y aunque no siempre tenga razón espero poder ayudarte con lo que te haga falta
       <br>
       Para eso estan los amigos ¿No? Quiero decir, siempre fuiste un mentor, pero aparte mi amigo, siempre te lo dije, confío en vos más que nadie y no quiero que nunca nuestra amistad sea un recuerdo.
       <br>
       Eres de las personas más valiosas para mí y aunque a veces no consigas lo que quieras, quiero decirte que nunca te diste por vencido. Y eso es lo que cuenta.
    </span>

    <span class="text-xl font-semibold">
        "Un ganador es un perdedor que lo intentó una vez más"
    </span>


</LayoutLetter>