---
import LayoutLetter from "../layouts/LayoutLetter.astro";
---

<LayoutLetter>
    
    <h2 class="font-bold">
        Para Dars Sieghart, 
    </h2>

    <span>
       Tu forma de ser, tus chistes estúpidos, y tu forma de cogeniar conmigo son incréibles, por eso siempre te valoré. Sos y serás mi amigo sin importar lo que hagas, por que sos valioso para mí y para todos los que te rodean aunque a veces no te lo demuestren.
       <br>
       No hagas cosas que te hagan daño por personas que no valen la pena, eso te destruye, está bien disfrutar la vida. <strong>Pero no arruines tu futuro.</strong>
       <br>
       Las experiencias en la vida nos demuestran cual fragiles somos en esta vida, sin importar eso uno debe dejar ir ese hermoso recuerdo carbón para convertirse en un momento de diamante.
       <br>
       Darlo todo está bien, pero si no lo logras, no te desanimes, podes llorar pero no te des por vencido. El éxito se trata de eso. de caer 100 veces y levantarse 101 veces.
       
    </span>

    <span class="text-2xl">
        🖤
    </span>


</LayoutLetter>