---
import LayoutLetter from "../layouts/LayoutLetter.astro";

---

<LayoutLetter>
    
    <h2 class="font-semibold">
        Para Fairebol, 
    </h2>

    <span>
        Si estas viendo esto seguramente no seas fairebol y solo quieres saber que me regale a mi mismo, pues bien no quiero ser muy sentimental pero este espacio lo guardare como una maquina del tiempo despues de unos añlos vendre a este proyecto y recordaré como fueron esos años dorados con ustedes, cada momento, cada juego que jugamos, y cada chiste estúpido, vendrá a mi cabeza cuando visite este repo.
        De tosos modos, siempre serán unos grandes amigos para mi y espero qeu eso no se convierta en un simple recuerdo.
    </span>

    <span class="font-bold text-2xl my-4">
        Los amo chicos
    </span>

</LayoutLetter>