---
import Layout from "../layouts/Layout.astro";
import { ClientRouter } from 'astro:transitions';
import Play from "../components/icons/Play.astro";
---
<ClientRouter />

<Layout effects="bg-zinc-800">
    <a href="/webedit" class="w-full h-screen text-white flex items-center justify-center text-9xl">
        <Play />
    </a>
</Layout>
