---
import LayoutLetter from "../layouts/LayoutLetter.astro";
---

<LayoutLetter>
    
    <h2 class="font-semibold">
        Para Kamisato Ayala desde la Hacienda Romano, 
    </h2>

    <span>
        Creo que estamos de acuerdo si decimos que probablemente del grupo sos el m치s simpatico y carismatico, siempre me sacas una sonrisa. tu forma de expresarte
        Tu forma de mantener el poositivismo aunque las circunstancias no eran las mejores, tu forma de ser nos uni칩. Tu forma de expresarte, tu todo. Es Increible. 
        <br>
        Quisiera poder compartir a tu lado muchisimo m치s tiempo y espero poder hacerlo m치s veces en el futuro, si asi lo amerita, y quiere tu coraz칩n.
        <br>
        쯈ue m치s puedo decir? Mi Duo no tiene comparaci칩n espero serlo en el futuro y gracias por compartir conmigo todo este tiempo Sato. Realmente estoy agradecido de haberte conocido.
    </span>

    <span class="text-2xl">
        游냃
    </span>


</LayoutLetter>