---
import LayoutLetter from "../layouts/LayoutLetter.astro";
---

<LayoutLetter>
    
    <h2 class="font-bold">
        Para Morronin, 
    </h2>

    <span>
       Ay morron, mi gran y pequeño amigo, siempre estuviste ahi. Fuiste aquel con quien siempre podía contar, y deahogarme con alguna estúpidez, no seas idiota y deja ese orgullo.
       <br>
       Nunca dejes que la gente te introduzca cosas en tu cabeza que no valen el tiempo pensar, Si ya sabes a quien me refiero. Fue una experiencia horrible lo sé pero como todo en la vida se supera
       <br>
       Es un proceso, como todo, tenes que entender eso. La forma de saber lo que te hace daño y lo que no, es experimentando, disfruta tu vida, pero no la arruines. Seguí intentando y no hagas nunca menos de lo que te piden.
       <br>
       
    </span>

    <span class="text-xl font-semibold">
        Todo tiene lado bueno y este momento siempre va a tener un sol para esta lluvia. Recoradalo.
    </span>


</LayoutLetter>