---
import Card from "../components/Card.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout effects="bg-black">
    <div class="w-full h-screen flex flex-col md:flex-row gap-8 justify-center items-center">
        <Card href="/whoami" text="Who am i?"/>
        <Card href="/" text="Web Edit"/>
        <Card href="/gallery" text="Gallery"/>

    </div>

</Layout>


