---
const { name } = Astro.props;
---
<div class="w-full text-white font-bold text-center p-2">
    <a name={name} class="w-full rounded-lg border-2 text-center py-4 px-4 transform duration-100 hover:scale-75" href="/prove">{name}</a>
</div>