---
const { music } = Astro.props;

---

<div class="hidden">
    <audio id="audio" controls loop autoplay>
        <source src={"/music/" + music} type="audio/mpeg"/>
    </audio>
</div>
<script>    
let audio = document.getElementById("audio");

addEventListener("DOMContentLoaded", () => {
    audio.volume = 0.4;
});

</script>