---
const { music } = Astro.props;

---

<div class="hidden">
    <iframe src={"/music/" + music} allow="autoplay"></iframe>
    <audio id="audio" controls muted loop autoplay>
        <source src={"/music/" + music} type="audio/mpeg"/>
    </audio>
</div>
<script>    
let audio = document.getElementById("audio");

addEventListener("DOMContentLoaded", () => {
    audio.muted = false;
    audio.play();
    audio.volume = 0.4;
});

</script>