---
import { ClientRouter } from 'astro:transitions';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<ClientRouter />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>¿Quien Eres?</title>
	</head>
	<body>
	
		<div class="w-full h-screen relative bg-slate-900 flex justify-center items-center" id="Layout">
			<slot />
		</div>
	</body>
</html>